@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;500;700&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Spline Sans', sans-serif;
  height: 100%;
}

:root {
  --main-color: rgba(151, 47, 99, 0.623);
  --error-color: rgb(253, 112, 112);
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}

/*Forms */
label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}

input {
  padding: 8px 6px;

  border: 1px solid #ddd;
  border-radius: 4px;
}

/*Buttons */

.btn {
  background-color: white;
  padding: 10px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--main-color);
  color: white;
  border-color: white;
  cursor: pointer;
}

/*error*/
.error {
  color: var(--error-color);
  border: 1px solid var(--error-color);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}
